/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global du corps de la page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style du conteneur de l'application */
#app {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

/* Style du titre principal */
h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 10px;
}

h2, h3, button, p {
    
    margin-bottom: 10px;
}

/* Style du paragraphe */
p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

/* Style du bouton */
button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style du bouton au survol */
button:hover {
    background-color: #0056b3;
}
